@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5C5552;
    --secondary-color: #8F857D;
    --accent1-color: #DECBB7;
    --accent2-color: #F7F0F5;
    
    --heading-font: 'Open Sans', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    
    --nav-background-color: #5C5552;
    --nav-link-color: #DECBB7;
    --nav-hover-link-color: #8F857D;
    --nav-hover-background-color: #F7F0F5;
    }

h1,h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    }
    
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    color: var(--accent2-color);
    margin:0 auto;
    background-color: var(--accent2-color);
    }

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display:grid;
    align-items: center;
    grid-template-columns: repeat(5,auto);
    }               
a {
    display: block;
    color: var(--nav-background-color);
    text-decoration: none;
    padding: 1rem;
}
/*Might need to fix this later. Find a better way for h2 to span the whole row*/
h2{
    grid-column: span 5 ;
    text-align:center;
}
section {
    background-color: var(--secondary-color);
    padding:40px;
    display:grid;
    align-items: center;
    gap:20px;
    
}

img{
    max-width: 100%;
    max-height: auto;
}

footer {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    align-items:center;
    background-color: var(--nav-background-color);
}

/*CSS for the hero class*/
.hero{
    position:relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

.hero h1{
    position:absolute;
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent2-color);
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
}

.hero article{  
    position: absolute;
    max-width: 90%;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    top: 250px;
    margin: 0 auto;
}
.hero article img{
    float:right;
    display: block;
    width: 300px;
    height: auto;
}

.sociallinks {
    width:auto;
    height:auto;;
    text-decoration: none;
    display:flex;
    gap: 10px;
    justify-content:flex-end;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}